/* COLORS */
$mainViolet: #a69cb0;
$mainVioletDark: #7f718e;
$mainVioletExtraDark: #403847;
$mainVioletLight: #cdc5d3;
$mainOrange: #e8bfb0;
$mainOrangeDark: #c9784f;
$mainOrangeLight: #f4dfd7;

/* FONTS */
$mainFont: 'Roboto', sans-serif;
$fontLogo: 'Playfair Display', serif;
$fontHero: 'Lato', sans-serif;

