.wrapper {
  padding-left: 18px;
  padding-right: 18px;
  max-width: 1336px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  .wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  &--centered { text-align: center; }
  &--800 { max-width: 800px; }
  &--1000 { max-width: 1000px; }
  &--t-margin-big { margin-top: 2rem;}
}